allow init adsprpcd_file:filesystem { relabelto relabelfrom mount };
allow init misc_block_device:blk_file rw_file_perms;
allow init proc_kernel_sched:file rw_file_perms;

allow init vfat:dir { open read search };
allow init vfat:file { open read };

allow init fpc1155_device:chr_file write;
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file ioctl;
allow init surfaceflinger:process signull;
allow init system_data_file:sock_file write;
allow init system_server:binder call;
allow init tee_device:chr_file { ioctl write };

allow init hidl_base_hwservice:hwservice_manager add;
allow init servicemanager:binder { call transfer };
allow init socket_device:sock_file { create setattr };
